@font-face {
  font-family: "RobotoSlab";
  src: url("/src/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.App {
  text-align: center;
  background-color: var(--fff);
}

body {
  background-color: #f5f6fa;
  font-family: 'RobotoSlab', sans-serif;
}

.head-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Line {
  width: 75rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.Title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.l-text {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.l-text2 {
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Oval {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  margin-left: 47.5rem;
}

.Oval2 {
  color: #4386bf;
}
